.banner {

    // Layout
    padding: @space-medium @space-medium @space-huge @space-medium;
    border-bottom: solid @space-medium @color-green;

    background-color: @color-slate;

    h1 {
        color: @color-white;

        .d3 {
            color: @color-blue;
        }
    }

}

.seccion {

    h2 {
        color: @color-slate;
        border-bottom: solid 1px @color-green;
    }

    p {
        font-size: 21px;
        color: @color-grey;
    }

}

.ejemplo {

    border: solid @space-thin @color-grey;
    padding: @space-medium;

    background-color: @color-grey-lighter;
}

.runnable {

    position: relative;
    margin: @space-medium 0 @space-medium 0;

    textarea {
        background-color: @color-grey-lighter;
        font-family: courier;
    }

    button {
        position: absolute;
        top:   @space-small;
        right: @space-small;

        color: @color-grey-light;
    }

    button:hover {
        color: @color-grey-dark
    }


}